.item {
    display: flex; /*block container*/
}

.item{
    display:inline-flex; /*inline container*/
}

article{
    border: 1px solid #555;
    display: inline-flex;
}

h2,h3,h4 {    
    border: 1px solid #667;
    padding: 5px;
    margin: 10px;
}

h3 {
    width: 50px;
}

/*grandchild elements do not become flex items*/

.wraping{
    height: 300px;
    width: 300px;
    display:flex;
    flex-wrap: wrap; /*nowrap / wrap / wrap-reverse*/
    flex-direction: column; /*row/ row-reverse/ column / column-reverse*/
    overflow: auto;
    align-items: center;  /*flex-start/flex-end/center/baseline/stretch*/
    justify-content: space-between; /* flex-start / flex-end/ center / space-between / space-around */
}

/* When the screen is at least 500px, we'll want to use a new .media selector. */

@media screen and (min-width: 500px) {
    .media {
        flex-wrap:nowrap;    
    }
    
    .media-img-item {
        width: 200px;
    }    
}

@media screen and (min-width: 375px){
    nav{
        display: flex;
        /*main axis*/
        justify-content: flex-start; /* flex-start / flex-end/ center / space-between / space-around */
        /*cross axis*/
        align-items: flex-start; /*flex-start/flex-end/center/baseline/stretch*/
        vertical-align:top;
    }
}

.first-order{
    order:-1;
}

.last-order{
    order:1;
}
  