/* element selector */
h1 {
    color: #aba4ac;
    margin-bottom: 10px;
}

/* class selector  */
.intro {
    color: #aba4ac;
    margin-bottom: 10px;
}

/* id selector  */
#header {
    color: #aba4ac;
    margin-bottom: 10px;
}

/* compound selector  */
h1 #header {
    color: #aba4ac;
    margin-bottom: 10px;
}

/* style priority is determined by position in site:
- external<link> ----- less priority
- In the <head>
- inline style attribute
- using ! important ------ more priority  
*/

header {
  background: #e0e2e6 !important;
}

/* FLOATING LEFT & RIGHT

removes elements from the document flow and moves them to a specified edge
Other content within the parent will wrap arounf floats

float: left/right/none

floated elements stack up to the parent edge? then move down to the next available edge
*/

/* clear - Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами. 
Если задано обтекание элемента с помощью свойства float, то clear отменяет 
его действие для указанных сторон. */

.container {
    
    width: 400px;    
    background-color: #aadd99;
}

/* .clear {
    clear: both;
} */

#floating {
    height: 200px;
    width: 100px;
    float: left;
    margin: 5px;    
    background-color: #aa0099;
}

#other {    
    background-color: #00dd99;
    text-align:center;
    font-style: italic;
}

/* common float-clearing methods */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after{
    clear: both;
}
.group {
    zoom:1;
}

/* selectoes can be nested to overrride parent properties: */

.featured {
    color: #0000ff;
}

#content p {
    color: #000;
}

#content .featured {
    color: red;
}
.featured p {
    color: #080 ;
}

/* specificity - the priority of a selector 
 - !important
  0,0,0,0
 - inline styles
 - id selectors
 - class selectors
 - element selectors
*/
