@supports (display: flex){ /* et rule (@media @import @charset)*/
    .some-class{  /* rules */
        color:red; /*declaration*/
    }
}

/* reset css-4 */

body * {
    all: unset;
}

/* specificity

[inlines] [!important] [ids] [classes, attrs] [tags]
* -universal selector
:not(#some-id)

: - pseudo clases
:nth-of-type() // only by tag
:nth-child()
https://css-tricks.com/useful-nth-child-recipies/
:hover
:active
:visited
:link

:invalid ~ .error
:valid ~ .error


:: - pseudo elements

::first-letter
::first-line 

::placeholder
(input:: -webkit-input-placeholder,
input:: -moz-input-placeholder)
https://autoprefixer.github.io/ru/

::selection

[name]
https://www.w3schools.com/css/css_attribute_selectors.asp

*/

a[href]:empty::after{
    content: attr(href)
}

/* time units

{
    animation-duration: .5s;
    animation-duration: 5000ms;
}

degrees 
{
    linear-gradient(0deg)
} 


sticky

.gallery {
    ...
    scroll-snap-points-x:repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 50% 50%;
}

blending
blend modes
overlay

lost-grid

stacking context(!)

*/